* {
  box-sizing: border-box;
}

body {
    color:aliceblue;
    background-color:white;
    background-image: url("img/leaves.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    font-family: 'revilo san', san-serif;
}

div {
}

h1{}

h2{
    border: 8px solid white;
    margin:5px;
    padding:10px;
}

h3{}

p {
  height: 150px ;
  min-height: ;
  max-height: ;
  width: ;
  min-width: ;
  max-width: ;
  margin:10px;
  padding:20px;
  overflow:scroll;
}
/*nav bar*/
.navbar-brand {
    border: 3px solid lightslategrey;
    margin:3px;
    padding:10px;
}
.col-4 {
    overflow: scroll; 
}
/*note*/
.flex-container {
  display: flex;
  margin-top: 20px;
  height: 10px;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow:row wrap;
}

.form-group{
    margin: 50px;
    border: 5px solid lightslategrey;
    padding: 10px;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow:row wrap;
    font-size: 25px;
}
.submit{
    margin-top: 10px;
}



